* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card {
    position: absolute;
    width: 2vw;
    height: 2vw;
}
.card-fragment-container {
    background-color: gray;
}
.card-fragment {
    background-color: black;
}
.card-fragment.shown {
    background-color: white;
}
.card-fragment.deanimate {
    background-color: black;
}
.card-fragment.animate {
    background-color: white;
}
.card-text.visible {
    color: black;
}