* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card {
    position: absolute;
}
.card-fragment-container {
    background-color: #fbff12;
}
.card-fragment {
    background-color: #41ead4;
}
.card-fragment.shown {
    background-color: #ff206e;
}
.card-fragment.deanimate {
    background-color: #41ead4;
}
.card-fragment.animate {
    background-color: #ff206e;
}
.card-text.visible {
    color: black;
}