@font-face {
    font-family: "junegull";
    src: url("./assets/junegull.ttf");
}

@font-face {
    font-family: "ubuntu";
    src: url("./assets/Ubuntu-Title.ttf");
}

* {
    margin: 0;
    font-family: "ubuntu";
}

#contents {
    width: 100vw;
    height: 100vh;
    background: #fff2f1;
}

.header {
    width: 100%;
    height: auto;
    background: rgb(227, 181, 5);
    background: linear-gradient(225deg, rgba(227, 181, 5, 1) 0%, rgba(236, 115, 87, 1) 52%, rgba(255, 242, 241, 1) 69%, rgba(160, 26, 134, 1) 99%);
    text-shadow: 0em 0em .6em rgba(0, 0, 0, .6);
    box-shadow: 0em 1em 2em rgba(0, 0, 0, .4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: #fff2f1;
    font-size: 6em;
}

.text {
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    margin-bottom: 5vh;
    font-family: "ubuntu";
}
