* {
    margin: 0;
    padding: 0;

    font-family: system-ui, sans-serif;
    font-size: 1em;
}

#contents {
    min-height: 100vh;
}

.state-cycler {
    cursor: pointer;
    border: .5vh solid white;
    border-radius: 1vh;
    background: white;
}

#newFlip-container {
    position: relative;
    top: 50px;
    left: 50px;
    width: 200px;
    height: 200px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;
    background-color: black;
}


