* {
    margin: 0;
    padding: 0;

    font-family: system-ui, sans-serif;
    font-size: 1em;
}

#contents {
    min-height: 100vh;
}

.state-cycler {
    cursor: pointer;
    border: .5vh solid white;
    border-radius: 1vh;
    background: white;
}

#background {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: 1;
}
#backgroundColorCycler {
    position: absolute;
    top: 5vh;
    left: 5vh;
    z-index: 2;
}

.white {
    background-color: white;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}

