* {
    margin: 0;
    padding: 0;

    font-family: system-ui, sans-serif;
    font-size: 1em;
}

#contents {
    min-height: 100vh;
}

.state-cycler {
    cursor: pointer;
    border: .5vh solid white;
    border-radius: 1vh;
    background: white;
}

.card {
    cursor: pointer;
}

.card-fragment-container {
    position: absolute;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;

    display: flex;
    align-items: center;
    justify-content: center;
}

.card-text-container {
    position: absolute;
    top: 0;
    left: 0;
    height: inherit;
    width: inherit;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-text {
    text-align: center;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.card {
    position: absolute;
    width: 5vw;
    height: 5vw;
}


