* {
    margin: 0;
    padding: 0;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#contents {
    min-height: 100vh;

    background: black;
}

button {
    cursor: pointer;
}
.disabled {
    background: red;
}
.enabled {
    background: green;
}

.padded {
    padding: 5vh;
    border: none;
}
.white-text {
    font-size: 2em;
    color: white;
}

